Web_Services_Message_Setv1.1/importFiles/FormDataWSBasic.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://teller.tcfbank.com/formdata" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://teller.tcfbank.com/formdata" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://teller.tcfbank.com/formdata">
      <s:element name="AddFormDataRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="bankNumTeller" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="branchNumTeller" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tellerNum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="formType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="messageData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddFormDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddFormDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddFormDataSoapIn">
    <wsdl:part name="parameters" element="tns:AddFormDataRequest" />
  </wsdl:message>
  <wsdl:message name="AddFormDataSoapOut">
    <wsdl:part name="parameters" element="tns:AddFormDataResponse" />
  </wsdl:message>
  <wsdl:portType name="FormDataWSSoap">
    <wsdl:operation name="AddFormData">
      <wsdl:input message="tns:AddFormDataSoapIn" />
      <wsdl:output message="tns:AddFormDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FormDataWSSoap" type="tns:FormDataWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddFormData">
      <soap:operation soapAction="http://teller.tcfbank.com/formdata/AddFormData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FormDataWSSoap12" type="tns:FormDataWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddFormData">
      <soap12:operation soapAction="http://teller.tcfbank.com/formdata/AddFormData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FormDataWS">
    <wsdl:port name="FormDataWSSoap" binding="tns:FormDataWSSoap">
      <soap:address location="https://tellertest.tcfbank.com/formdataws/formdataws.asmx" />
    </wsdl:port>
    <wsdl:port name="FormDataWSSoap12" binding="tns:FormDataWSSoap12">
      <soap12:address location="https://tellertest.tcfbank.com/formdataws/formdataws.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>